#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div{
  color: white;
  text-align: left;
}

.full-page-component {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Card styling */
.card {
  width: 100%;
  background-color: transparent; /* Makes the card background transparent */
  color: #fff;
  border-bottom: #fff 1px solid;
  border-top: #fff 1px solid;

}

/* For Webkit Browsers like Chrome and Safari */
::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

/* For All Browsers */
html {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
