#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div{
  color: white;
  text-align: left;
}